@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background: linear-gradient(to right, #5ee7df 0%, #b490ca 100%);
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

canvas {
  display: block;
  align-self: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas {
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: #764ba2;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 1rem;
}

.btn:hover {
  background-color: #5c3d8d;
}

/**/

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: 20px;
  padding: 20px;
}

.text-center {
  text-align: center;
}
